<!DOCTYPE html>
<html lang="en">
<head>
  <title>Panel Browse</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="./stylesheets/style.css">
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body> 
  <div class="body">
    <div class="container">
      <div class="panel panel-primary">
        <div class="panel-heading">Sebuah Panel</div>
        <a href="/line">
          <button class="panel-body btn btn-danger btn-index">
            <span class="glyphicon glyphicon-signal"></span><br>Line
          </button>
        </a>
        <a href="/pie">
          <button class="panel-body btn btn-warning btn-index">
            <span class="glyphicon glyphicon-cd"></span><br>Pie
          </button>
        </a>
        <a href="/bar">
          <button class="panel-body btn btn-primary btn-index">
            <span class="glyphicon glyphicon-stats"></span><br>Bar
          </button>
        </a>
        <a href="/map">
          <button class="panel-body btn btn-success btn-index">
            <span class="glyphicon glyphicon-globe"></span><br>Maps
          </button>
        </a>
        <a href="/login">
          <button class="panel-body btn btn-info btn-index">
            <span class="glyphicon glyphicon-user"></span> Admin Panel
          </button>
        </a>
      </div>
    </div>
  </div>

</body>
</html>