* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
      
body { 
    font: 13px Helvetica, Arial;
}

form { 
    background: #ebebeb; 
    padding: 10px; 
    /* position: fixed;  */
    bottom: 0; 
    width: 94%; 
    margin: 3%;
}

form input { 
    border: 0; 
    padding: 10px; 
    width: 100%; 
    margin-right: .5%;
}

textarea{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

form button { 
    width: auto; 
    background: rgb(130, 224, 255); 
    border: none; 
    margin-top: 10px;
    padding: 10px; 
}

#messages { 
    list-style-type: none;
    margin: 0; 
    padding: 0; 
}

#messages li { 
    padding: 5px 10px; 
}

#messages li:nth-child(odd) { 
    background: #eee; 
}

#m{
    margin-top: 10px;
    height: 100px;
}

.chat{
    margin: 0px 50px;
}

.btn-delete{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    padding: auto;
    font-size: 35px;
}